
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@font-face {
    font-family: 'lovelo-bold';
    src: url('../lovelo/line-bold.otf');
}
@font-face {
    font-family: 'lovelo-light';
    src: url('../lovelo/line-light.otf');
}

/* ////////////////////////// html types ////////////////////////// */
body, html{
  height: 100%;
  margin: 0;
  font-family: 'Gamja Flower';
  color: white;
  text-align: center;
}

h1{
  letter-spacing: 5px;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, p, a{
  color: #111;
}
a:hover{
    color:#ffc1f9;
}

/* ////////////////////////// reusable classes ////////////////////////// */
.col-xs {
  padding:5%;
}
.half {
  width:50%;
}

img.clickable:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.section-title { /* section titles */
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: #000;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'lovelo-bold'; 
}

.section-title-text {
  /*background-image: url("../assets/forest.jpeg");*/
  color: #fff;
  padding: 18px;
}

/* ////////////////////////// my website sections ////////////////////////// */

/*#nav-icon {
    background-image: url("../assets/navbutton.png");
    max-height:100%;
    max-width:100%;
    top:15px;
    left:20px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;

}*/

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 { /* welcome to flagpole land */
  background-image: url("../assets/jump1.jpg");
  min-height: 100%;
}
.intro { /* text to introduce meself */
    color: #777;
    background-color:#e6d8c7;
    padding:5% 30% 3% 30%;
}

.link-icons {
  width: 33%;
  padding: 10%;
}
/*////////////////////////////////////////////////////*/

.bgimg-2 { /* projects span */
  background-image: url("../assets/jump2.jpg");
  min-height: 500px;
}
.projects { /* list of my  projects */
    background-color:#c3cca9;
    padding:50px 80px;
}
.project-names {
  /*font-family: 'lovelo-light';*/
  width:100%;
  padding: 3%;
}
.project-names h3:hover {
  color:#d28588;
}
.project-content {
  max-height: 100%;
  display:none;
}

/*////////////////////////////////////////////////////*/

.bgimg-3 { /* other interests span */
  background-image: url("../assets/jump3.jpg");
  min-height: 500px;
}
.interests { /* list of my interests */
    color:#ddd;
    background-color:#dbcacd;
    /*padding:20% 10% 20% 10%;*/
}
.interest-icons {
  width: 20%;
}

/*////////////////////////////////////////////////////*/

.bgimg-4 { /* thanks for checking me out */
  background-image: url("../assets/jump4.jpg");
  min-height: 100%;
}
